@import "../../styles/_variables.scss";

h2 {
  color: $primary-color;
}

.card {
  border: 1px solid #ccc;
  margin: .5rem 0;
  padding: 1rem;
}

input {
  all: unset;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: .5rem;
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

/* Dark Theme */

.dark h2 {
  color: $white;
}


.dark .card {
  border-color: $white;
}

.dark input {
  border-color: $white;
}

.dark .btn:hover {
  background-color: $white;
  color: $primary-color;
}