.icon {
  vertical-align: middle;
  width: 1rem;
}

a {
  color:#8118b7;
}

.card {
  border: 1px solid #ccc;
  margin: .5rem 0;
  padding: 1rem;
}

.width-50 {
  display: inline-block;
  width: 50%;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.btn-outlined {
  background: none;
  border:1px solid #8118b7;
  color:#8118b7;
}

.btn-outlined:hover {
  background-color:#8118b7;
  color: #fff;
}

.btn-rounded {
  border-radius: 50%;
}

.rotate {
  transform: rotate(180deg);
}

/* Dark Theme */

.dark a {
  color: #fff;
}

.dark .card {
  border-color: #fff;
}

.dark input {
  border-color: #fff;
}

.dark .btn-outlined {
  background: none;
  border:1px solid #fff;
  color:#fff;
}
