.App{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  color: #8118b7;
}

.align-right {
  text-align: right;
}

.btn {
  background-color: #8118b7;
  border-color: transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  padding: .5rem;
}

.btn-outlined {
  background: none;
  border:1px solid #8118b7;
  color:#8118b7;
}

.btn-outlined:hover {
  background-color:#8118b7;
  color: #fff;
}

.btn-rounded {
  border-radius: 50%;
}

/* Dark Theme */

.App.dark {
  background-color: #23272f;
}


.dark {
  color: #fff;
}

.dark h1 {
  color: #fff;
}
