.card-contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.card-contact a {
  text-decoration: none;
}


.card-contact .btn-rounded {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}